@use '@angular/material' as mat;

.page-container {
  height: 100vh;
  position: relative;
}

.app-container {
  width: calc(100vw - 48px);
  height: calc(100vh - 126px);
  position: absolute;
  top: 49px;
  left: 0;
  overflow-y: auto;
  padding: 24px;
}

.footer-container {
  width: 100vw;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-container {
  width: 100vw;
  background-color: rgb(240, 240, 240);
  position: absolute;
  top: 0;
  left: 0;
  @include mat.elevation(2);
}

.footer-container {
  border-top: solid 1px rgb(211, 211, 211);
}